<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
</head>
<body>
    <center>
        <h3>HELPLINE</h3>
        <p>Just enter the tiny/shorten url in the input box<br>
            Then click the track button to trace the complete path of <br>
            that tiny url.
        </p>
        <p>
            Copy the below link and use it in the linux terminal or termux<br>
            <a href="https://bit.ly/3rXhjW3">https://bit.ly/3rXhjW3</a>
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1kTOqkWNDKQ?start=841&end=870" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="off">
        </iframe>
        <h2>Requirements</h2>
        <p>Python 3, requests and colorama libraries.<br>
            Update: apt-get update<br>
            Python 3: apt-get install python3<br>
            Requests: pip install requests<br>
            colorama: pip install colorama</p>
    </center>
</body>
</html>