<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tracks</title>
</head>
<body>
    <center>
        <h2> {{negative}} </h2>
        <table border="1">
            <thead>
                <tr>
                    <td>Safe</td>
                    <td>Domain</td>
                    <td>Ip_address</td>
                    <td>spamming</td>
                    <td>Malware</td>
                    <td>Phishing</td>
                    <td>Server</td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ safer }}</td>
                <td>{{ domain }}</td>
                <td>{{ ip }}</td>
                <td>{{ spam }}</td>
                <td>{{ mal }}</td>
                <td>{{ phish }}</td>
                <td>{{ server }}</td>
            </tr>
            </tbody>
        </table>
    </center>
</body>
</html>